out/
__pycache__/
target/
.cache/
.local/
.pyffmpeg/

.gitconfig
.bash_history

config.json
default_assets.zip
sprites.json
*.rar

infinite_music_discs_rp
infinite_music_discs_dp
bot-env/

resources/javarp/assets/minecraft/sounds/records/*
resources/bedrockrp/sounds/records/*
resources/bedrockrp/sounds/sound_definitions.json
resources/javarp/assets/minecraft/models/*
resources/javarp/assets/minecraft/textures/item/*
resources/songs/*
